.top-bar, .top-bar ul {
    background-color: $nav-background;
}

.top-bar {
    .menu-text {
        color: $nav-text-color;
    }
    .menu > .menu-text > a {
        display: inline;
        padding: 0;
    }
    .active-link {
        font-weight: bold;
    }
}

ul.nav {
    line-height: 50px;

    a {
        padding: 0 10px;
    }
}
.navibar {
    //color: green;
    background: transparent !important;
    background-color: rgba(255,255,255,0.75) !important;
}
